# List Methods

In [19]:
#Append()--Adds value at the end of the list
list1 = [1234,"qwerty",23.5]
list1.append("Appended")
list1

[1234, 'qwerty', 23.5, 'Appended']

In [2]:
#insert()-- Inserts value in the list based on index and value passed as input 
list1.insert(2,'Inserted')
list1

[1234, 'qwerty', 'Inserted', 23.5, 'Appended']

In [3]:
#copy()--Copies one list to other and returns a new list
my_list=list1.copy()
my_list

[1234, 'qwerty', 'Inserted', 23.5, 'Appended']

In [5]:
#index()--Returns the index of value, passed as input, in the list
my_list.index(23.5)

3

In [131]:
#Extend()--Adds element to the list at the end
aa=("something",1234,45.67)
my_list.extend(aa)
print(my_list)

[1234, 'qwerty', 23.5, 'Appended', 'something', 1234, 45.67]

In [132]:
#count()--Returns number of times the value, passed as input, is present in the list
my_list.count(1234)

2

In [125]:
#reverse()--Reverses the entire list
list1.reverse()
list1

['Appended', 23.5, 'qwerty', 1234]

In [13]:
#pop()--Removes last value in the list
list1.pop()
list1

['Appended', 23.5, 'Inserted', 'qwerty']

In [15]:
#remove()--Removes the value specified from the list
list1.remove('Appended')
list1

[23.5, 'Inserted', 'qwerty']

In [16]:
#clear()--Deletes the list completely
list1.clear()

In [17]:
list1

[]

In [21]:
#sort() -- For sorting value should be of same datatype
new_list=["AI","ML","Python","Datascience"]
new_list.sort()
new_list

['AI', 'Datascience', 'ML', 'Python']

# Tuple Methods

In [23]:
#List to tuple convertion
my_tuple=tuple(new_list)
my_tuple

('AI', 'Datascience', 'ML', 'Python')

In [24]:
#count()--Returns number of times the value passed as input is present in the tuple
my_tuple.count("AI")

1

In [26]:
#index()--Returns the index of the value passed as input
my_tuple.index("Python")

3

In [27]:
#deleting my_tuple
del my_tuple

In [28]:
#Since my_tuple is deleted in above step, it throws a NameError
my_tuple

NameError: name 'my_tuple' is not defined

# Set Methods

In [29]:
#Converting list to set
my_set=set(list1)
my_set

{1234, 23.5, 'Appended', 'qwerty'}

In [34]:
#add()--Add elements to the given set
my_set.add('Adding')
my_set.add(34)
my_set.add(14)
my_set

{1234, 14, 23.5, 34, 'Adding', 'Appended', 'qwerty'}

In [35]:
#copy--Copies a set to other set
copy_my_set=my_set.copy()
copy_my_set

{1234, 14, 23.5, 34, 'Adding', 'Appended', 'qwerty'}

In [62]:
#discard()--Removes the value which is specified from the set
my_set.discard(34)
my_set

{1234, 23.5, 'Adding', 'Appended', 'Python', 'qwerty'}

In [63]:
#update()--Updates contents to set1(new_set) from set2(my_set)
new_set={"BMW","Mini","Nissan","Audi","Hyundai"}
new_set.update(my_set)
print(new_set)

{'qwerty', 'BMW', 'Nissan', 'Audi', 'Hyundai', 'Mini', 1234, 'Python', 'Adding', 23.5, 'Appended'}

In [69]:
#union()--Join two sets
new_set1={"apples","mangoes","lemons"}
union_set=new_set1.union(copy_my_set)
print(union_set)

{'apples', 'qwerty', 34, 'Updating', 14, 'mangoes', 1234, 'Python', 23.5, 'Adding', 'lemons', 'Appended'}

In [70]:
#difference()--Returns a set with elements which are dissimilar from both the sets
diff_set=union_set.difference(copy_my_set)
print(diff_set)

{'mangoes', 'apples', 'lemons'}

In [80]:
#difference_update()--Returns a set with dissimilar elements and removes other elements from the set initialised at first

print("my_set is:",my_set)
new_set={'qwerty', 1234, 'Python','BMW', 'Nissan', 'Mini'}
print("new_set is:",new_set)
new_set.difference_update(my_set)
print("After difference_update() new_set is:",new_set)

my_set is: {'qwerty', 1234, 'Python', 'Adding', 23.5, 'Appended'}
new_set is: {'qwerty', 'BMW', 'Nissan', 'Mini', 1234, 'Python'}
After difference_update() new_set is: {'BMW', 'Nissan', 'Mini'}

In [83]:
#intersection()--Returns a set with elements which are similar in both the sets
abc={"qwerty","Python","ML",1234,"AI",34.567}
inter_set=my_set.intersection(abc)
print(inter_set)

{'qwerty', 'Python', 1234}

In [84]:
#intersection_update-- Removes dissimilar elements from set which is initialised at beginning and returns a set with similar elements from both the sets
print("abc set is:",abc)
print("my_set is:",my_set)
abc.intersection_update(my_set)
print("abc set after intersection_update() is:",abc)

abc set is: {'ML', 'qwerty', 34.567, 'Python', 1234, 'AI'}
my_set is: {'qwerty', 1234, 'Python', 'Adding', 23.5, 'Appended'}
abc set after intersection_update() is: {'qwerty', 1234, 'Python'}

In [85]:
#isdisjoint()--Returns True if no elements matches in both sets, else returns False
print("abc set is:",abc)
xyz={'AI','ML',2345670}
print("xyz set is:",xyz)
dis=xyz.isdisjoint(abc)
print(dis)

abc set is: {'qwerty', 1234, 'Python'}
xyz set is: {'AI', 'ML', 2345670}
True

In [133]:
#issubset()--Returns True if all elements present in set1(abc) is in set2(my_set), else False
print("abc set is:",abc)
print("my_set is:",my_set)
z=abc.issubset(my_set)
print(z)

abc set is: {'qwerty', 1234, 'Python'}
my_set is: {'qwerty', 1234, 'Python', 'Adding', 23.5, 'Appended'}
True

In [6]:
#issuperset()--Returns True if all elements in set2(abc) in set1(my_set), else False
m=my_set.issuperset(abc)
print(m)

True

In [135]:
#symmetric_difference()--Returns a set of elements in either A or B but not is intersection
sym_dif=abc.symmetric_difference(my_set)
print(sym_dif)

{'Adding', 23.5, 'Appended'}

In [136]:
#symmetric_difference_update()--Removes all elements from the sets and inserts values which are different in both sets to seet initialised at first
print("my_set set is:",my_set)
print("sym_dif before method call is:", sym_dif)
sym_dif.symmetric_difference_update(my_set)
print("sym_dif after symmetric_difference_update() is:", sym_dif)

my_set set is: {'qwerty', 1234, 'Python', 'Adding', 23.5, 'Appended'}
sym_dif before method call is: {'Adding', 23.5, 'Appended'}
sym_dif after symmetric_difference_update() is: {1234, 'qwerty', 'Python'}

In [137]:
#remove()--Removes element from the set passed as input
my_set.remove(23.5)
print(my_set)

{'qwerty', 1234, 'Python', 'Adding', 'Appended'}

In [139]:
#pop()--Removes an element from the set
my_set.pop()
print(my_set)

{1234, 'Python', 'Adding', 'Appended'}

In [140]:
#clear()--Removes all elements from the set completely
my_set.clear()
my_set

set()

# Dictionary Methods

In [144]:
#Creating a dictionary
my_dict=dict([(1,"Python"),(2,"AI")])
print(my_dict)

{1: 'Python', 2: 'AI'}

In [148]:
#get()--Returns the value for the key passed as input
my_dict.get(1)

'Python'

In [149]:
#values()--Returns all values in the dictionary
my_dict.values()

dict_values(['Python', 'AI'])

In [150]:
#keys()--Returns all keys in the dictionary
my_dict.keys()

dict_keys([1, 2])

In [155]:
#update()--Insert items to the dictionary 
my_dict.update({3:"ML"})
print(my_dict)

{1: 'Python', 2: 'AI', 3: 'ML'}

In [162]:
#fromkeys()--Returns a dictionary with specified keys
keys='a','b'
value="Python","Java"
dict1=dict.fromkeys(keys,value)
print(dict1)

{'a': ('Python', 'Java'), 'b': ('Python', 'Java')}

In [164]:
#copy()--Copies one dictionary to other
dict1=my_dict.copy()
print(dict1)

{1: 'Python', 2: 'AI', 3: 'ML'}

In [165]:
#items()--Returns a key-value pair
x=dict1.items()
print(x)

dict_items([(1, 'Python'), (2, 'AI'), (3, 'ML')])

In [170]:
#setdefault()--Returns value for the specified key, if key does not exit, creates it and returns the value passed as input
z=my_dict.setdefault(1,"Look")
y=my_dict.setdefault("Tech","Java")
print(z)
print(y)

Python
Java

In [172]:
#pop()--Removes specified key element in the dictionary
dict1.pop(2)
print(dict1)

{1: 'Python', 3: 'ML', '1': 'Look', '3': 'Java'}

In [173]:
#popitem()--Removes last inserted key value pair of the dictionary
dict1.popitem()
print(dict1)

{1: 'Python', 3: 'ML', '1': 'Look'}

In [174]:
#clear()--Removes all elements of the dictionary
dict1.clear()
print(dict1)

{}

# String Methods

In [179]:
#capitalize()--Capilatizes first letter of the string and converts others to lower case
str_me="hello..Good Day!" #Assigning a string
str_me.capitalize()

'Hello..good day!'

In [180]:
#casefold()--Converts the string to lower case
letter="Hello..! This is a sample program"
letter.casefold()

'hello..! this is a sample program'

In [184]:
#center()--Takes up the value in the brackets for spaces and prints the string
str_me.center(25)

'     hello..Good Day!    '

In [185]:
#count()--Returns number of times a value is present in the given string
str1="This is a Python tutorial and I welcome everyone to this tutorial."
str1.count("tutorial")

2

In [186]:
#encode()--Returns encoded version of string
text="This is an apple"
text.encode()

b'This is an apple'

In [187]:
#endswith()--Returns True if the string ends with a specified value in the input
text.endswith("apple")

True

In [189]:
#expandtabs--Sets tab spaces as passed in input
text1="He\tll\too"
text1.expandtabs(2)

'He  ll  oo'

In [195]:
#find()--Searches for the mentioned value and returns it position
tex="Thisisanapple"
text="This is an apple"
print(tex.find("an"))
print(text.find("an"))

6
8

In [196]:
#format--Formats specified values in string
txt = "This is the {price:.2f} of this is pen!"
print(txt.format(price=40))

This is the 40.00 of this is pen!

In [199]:
#index--Searches the entire string and returns the index of string passed as input
text.index("an")

8

In [202]:
#isalnum()--Returns True if the string is alphanumeric, else False
alpha="This is M24"
print(alpha.isalnum())
alp="ThisisM24"
print(alp.isalnum())

False
True

In [208]:
#isalpha()--Returns True if the string is alphabetic, else False
al="Thisisagun"
print(al.isalpha())
alpp="This is a gun"
print(alpp.isalpha())

True
False

In [232]:
#isdecimal()--Returns True if the string is decimal, else False
dec="01234"
print(dec.isdecimal())
decc="Hai"
print(decc.isdecimal())

True
False

In [233]:
#isdigit()--Returns True if the string is digits, else False
dec.isdigit()

True

In [216]:
#isidentifier()--Returns True if the string contains valid identifiers like alphabets(a-z) or underscores(_) and numbers (0-9)
valid="ValidString_001"
print(valid.isidentifier())
invalid="Invalid String"
print(invalid.isidentifier())

True
False

In [223]:
#lower--Converts string to lowercase and #islower()--Returns True if string is completely in lowercase
str2="I am Learning Python"
low=str2.lower()
print(low)
print(low.islower())

i am learning python
True

In [224]:
#upper()--Converts string to uppercase and #isupper()--Reurns True if string is completely in uppercase
str3="I am learning Python Datatypes"
upper=str3.upper()
print(upper)
print(upper.isupper())

I AM LEARNING PYTHON DATATYPES
True

In [229]:
#isnumeric()--Returns True if string is numeric, else False
num="15km2"
print(num.isnumeric())
num1="12345098"
print(num1.isnumeric())

False
True

In [234]:
#isprintable()--Returns True if string is printable. Not printable strings contain \t or \n etc.,
printable="Hi..Good One!"
print(printable.isprintable())
nonprintable="Hi..\nGood \tOne!"
print(nonprintable.isprintable())

True
False

In [235]:
#issapce()--Returns True if string is whitespaced, else False
spaced="   "
print(spaced.isspace())
space="  s  "
print(space.isspace())

True
False

In [237]:
#istitle()--Returns True if all words start with uppercase and others in lowercase
title="Hi..!Good Morning"
print(title.istitle())
nontitle="Hi..! good Morning"
print(nontitle.istitle())

True
False

In [240]:
#join()--Joins the elements of iterable
myTuple = ("Good", "Better", "Best")

x = "--".join(myTuple)

print(x)

Good--Better--Best

In [247]:
#ljust()--Used for spacing as specified in left direction
txt = "Monkey"
x = txt.ljust(10)
print(x,"is my favorite animal")

Monkey     is my favorite animal

In [251]:
#lstrip()--Used for removing spaces to the left of the string
strr="   Volleyball   "
z=strr.lstrip()
print("The sport named", z ,"is my fav")

The sport named Volleyball    is my fav

In [254]:
#partition()--Returns a tuple where the string is partioned into 3 parts
part="Volleyball is the game best of all and is my favourite"
x=part.partition("favourite")
print(x)
y=part.partition("best")
print(y)

('Volleyball is the game best of all and is my ', 'favourite', '')
('Volleyball is the game ', 'best', ' of all and is my favourite')

In [255]:
#replace()--Replaces a string with other
str4="Game is love is Cricket"
z=str4.replace("Cricket","Volleyball")
print(z)

Game is love is Volleyball

In [256]:
#rfind()--Searches the string and returns the last position of the string passed as input
text="Volleyball is a sport and sport is good for health"
z=text.rfind("sport")
print(z)

26

In [257]:
#rindex()--Searches the string and returns the index of last position of the string passed as input
text="Volleyball is a sport and sport is good for health"
z=text.rindex("sport")
print(z)

26

In [258]:
#rjust()--Used for spacing as specified in right direction
txt = "Monkey"
x = txt.rjust(10)
print(x,"is my favorite animal")

    Monkey is my favorite animal

In [260]:
#rpartition()--Returns a tuple where the string is partioned into 3 parts
part="Volleyball is my favourite game"
x=part.rpartition("favourite")
print(x)

('Volleyball is my ', 'favourite', ' game')

In [270]:
#rsplit()--Splits the string as per input separator
txt="apple,banana,cherry"
z=txt.rsplit(",")
print(z)

['apple', 'banana', 'cherry']

In [271]:
#rstrip()--Used for removing spaces to the right of the string
strr="   Volleyball   "
z=strr.rstrip()
print("The sport named", z ,"is my fav")

The sport named    Volleyball is my fav

In [272]:
#split()--Splits the string and returns a list
txt="Welcome to Python"
z=txt.split()
print(z)

['Welcome', 'to', 'Python']

In [273]:
#splitlines()--Splits string at linebreaks and returns a list
txt="Welcome to Python\n It is very interesting"
z=txt.splitlines()
print(z)

['Welcome to Python', ' It is very interesting']

In [274]:
#strip()--Used for removing spaces both left and right of string
strr="   Volleyball   "
z=strr.strip()
print("The sport named", z ,"is my fav")

The sport named Volleyball is my fav

In [276]:
#startswith()--Returns True if the string starts with specified value 
txt="Volleyball is a good sport"
print(txt.startswith("Volleyball"))
print(txt.startswith("volleyball"))   #Python is case-sensitive

True
False

In [278]:
#swapcase()--Switch cases upper to lower and viceversa
txt="VolleyBall is a Good Sport"
txt.swapcase()

'vOLLEYbALL IS A gOOD sPORT'

In [279]:
#title()--Makes the first letter of each string to uppercase
txt="volleyball is a good sport"
txt.title()

'Volleyball Is A Good Sport'

In [288]:
#zfill()--Fills with 0 until it reaches the specified length passed in input
txt="50 is also denoted as fifty"
z=txt.zfill(40)
print(z)

000000000000050 is also denoted as fifty